*,*::before,*::after{
    box-sizing: border-box;
}

header{
    width: 550px;
    margin:0px auto;
    background: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 81px;
    background-color: #FFFFFF;
}

main{

    width: 100%;
    height: 892px;
    overflow: hidden;
 
}

section{
    position: relative;
    margin: 0px auto;
    width: 100%;
    height: 751.5px;
    background-color: #F6F7FB;
   
    
}

footer{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 140.5px;
    background-color:#F6F7FB;
}

img{
    display:block;
    margin: auto;
}

.logo-icon,.chat-icon,.profile-icon{
margin: 18px;
cursor: pointer;
}

.picture{
    margin: 0px auto;
    height: 751.5px;
    width: 534px;
    border-radius:10px;

}

h2{
    color:#F8F8F8;
    font-size: 2rem;
    line-height: 0.2em;
}

.picture-text{
    position: absolute;
    display:flex;
    flex-direction: column;
   justify-content: end;
    font-size: 1.5rem;
    transform: translateY(-140px) translateX(40px);
    z-index: 2;
    color: #B7B7B7;
    font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    max-width: 450px;
    min-height: 120px;
    line-height: 1.2em;

}

.badge{
    position: absolute;
margin: 0;
    transform: rotateZ(-38deg) translateY(-525px) translateX(440px);

}

.icon-heart,.icon-cross{
    margin: 0 12px;
    width: 92px;
    height: 92px;
   box-shadow: rgba(0, 0, 0, 0.171) 0 0 15px;
    border-radius: 100px;
    border-style: none;
    transition: 0.2s;
    cursor: pointer;

}



.icon-heart{
background-color: #FFFFFF;

}
.icon-heart:hover{
    background-color: #DBFFF4;
    transition: 0.2s;
}
.icon-cross{
    background-color: #FFFFFF;

}
.icon-cross:hover{
    background-color: #FFE7EF;
    transition: 0.2s;
}

.icon-heart:active,.icon-cross:active{
    transform: scale(90%);
    transition: 0.2s;
}



.swipe-left{
transform: translateX(-1000px) rotateZ(-30deg);
opacity: 0%;
transition: 0.5s 0.1s ease-in;

}

.swipe-right{
    transform: translateX(1000px) rotateZ(30deg);
    opacity: 0%;
    transition: 0.5s 0.1s ease-in; 
}

.invisible{
    display: none;
}